body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
figure,
figcaption,
menu,
input {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
img,
fieldset {
  border: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 100;
}
body {
  font-family: "微软雅黑";
}
input,
a {
  outline: none;
}
body,
html {
  height: 100%;
}
.header{
	height: 120px;
	/* background: pink; */
}

.header img{
	width: 140px;
	height: 80px;
	padding-top: 30px;
	margin-left: 200px;
}

.banner{
	height: 800px;
	background: url(../img/5.gif)no-repeat;
}

.banner-top{
	height:753px;
	width: 864px;
	background: #ff6f30;
	float: right;
}

.login{
	width: 360px;
	height: 420px;
	background-color: white;
	position: absolute;
	top: 240px;
	left: 70%;
}
.login p{
	height: 30px;
	text-align: center;
	font-size: 80px;
	margin-top: 30px;
}
.TMall-login{
	width: 300px;
	height: 40px;
	margin-left: 20px;
	margin-top: 20px;
}
.TMall-login input{
	width: 256px;
	height: 36px;
	outline: none;
	float: left;
}
button{
	background-color: red;
}





